doctype html
html
    head
        title= title
        link(rel='icon' href='/img/favicon.ico')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/mycss.css')
    body
        block content
