doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/mycss.css')
    body
        block content
    script(src="/js/bundle.js")
