extends layout

block content
    include ./mixins/book-input.pug
    include ./mixins/buttons.pug
    h1 New Book
    form
        +book-attribute('title')
        +book-attribute('author')
        +book-attribute('genre')
        +book-attribute('year')
        +submit('Create New Book')
        +main-button('/books', 'Cancel')
