extends layout

block content
    include ./mixins/book-input.pug
    include ./mixins/buttons.pug
    h1 Update Book
    include form-error
    form(method="POST" action=`/books/${book.id}`)
        +book-attribute('title', book.title)
        +book-attribute('author', book.author)
        +book-attribute('genre', book.genre)
        +book-attribute('year', book.year)
        +submit('Update Book')
    form
        +main-button('/books', 'Cancel')
        p
            input#delete(type="button" value="Delete Book")
    div.dialog
        div.content
            h3 Are you sure you want to delete
            h3 #{book.title} ?
            form(method="POST" action=`/books/${book.id}/delete`)
                p
                    input(type="submit" value="Yes I Do")
                    a.button(href="/books") No Way
    div.overlay
    script(src="/js/dialog.js")
