/** Searchbar **/
.search-container {
    display: flex;
    margin-bottom: 20px;
}

.search-container .button,
.search-container input {
    margin: 0px;
}

.search-container input {
    margin-left: 200px;
}

/** Pagination **/
.pagination {
    display: flex;
    align-items: center;
    margin-top: 2.3em;
}

.pagination__input span form {
    display: inline-block;
}

.pagination__page,
.pagination__back {
    padding: 0 5px;
}

.pagination__input input {
    width: 80px;
}

.pagination__input span span {
    margin: 0 5px;
}

.pagination__back img,
.pagination__forward img {
    cursor: pointer;
}

.pagination__forward img {
    transform: rotate(180deg);
}

/** Highlights **/
.highlight {
    color: #980124;
}

/** Basics **/
thead tr th {
    cursor: pointer;
}

input:focus {
    border: 2px solid #019875;
}
